{% load static wagtailcore_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>MILVETS Systems Technology Inc.</title>    
        <!-- Plugins CSS -->
        <link href={% static 'css/plugins/plugins.css' %} rel="stylesheet">
        <!-- load css for cubeportfolio -->
        <link rel="stylesheet" type="text/css" href={% static 'cubeportfolio/css/cubeportfolio.min.css' %}>
        <link href={% static 'css/style.css' %} rel="stylesheet">      
        <style type="text/css">
            .milvets-line{
                border-top: 1px solid #ffffff;
                width: 50%;
            }
            .milvets-star{
                font-size: 43px;
                color: #ffffff;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translate(-50%,-50%);
            }
            .milvets-hover:hover{
                background-color: #005CAF;
                color:white;
            }
            .subheader{
                text-align:center;
                margin-bottom: 2em;
            }
            .teaming-columns{
                -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
                -moz-columns: 100px 3; /* Firefox */
                columns: 100px 3;            
            }
            html{
                scroll-behavior: smooth;
            }
        </style>     
    </head>
    <body>      
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->          
        <div class="site-overlay"></div>                
        <div class="container">            
        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded nav-sticky">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img class='logo logo-dark' src={% static 'images/logo.png' %} alt="" style="width:250px">
                    <img class='logo logo-light hidden-md-down' src={% static 'images/logo-light.png' %} alt="" style="width:250px">
                </a>
                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/about">About</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/about/#" class="dropdown-item">Our Profile</a></li>
                                <li><a href="/about/#clients" class="dropdown-item">Our Clients</a></li>
                                <li><a href="/about/#offices" class="dropdown-item">Offices</a></li>
                                <li><a href="/about/#awards" class="dropdown-item">Awards</a></li>
                                <li><a href="/about/#history" class="dropdown-item">History</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/services">Services</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/services/#" class="dropdown-item">Our Approach</a></li>
                                <li><a href="/services/#contractvehicles" class="dropdown-item">Contract Vehicles</a></li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="/services/#capabilities" class="dropdown-item">Core Capabilities</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/services/#testmanagement" class="dropdown-item">Test Management</a></li>
                                        <li><a href="/services/#modelingsimulation" class="dropdown-item">Modeling/simulator & Training</a></li>
                                        <li><a href="/services/#intel" class="dropdown-item">Intel/Surveillance/Recon</a></li>
                                        <li><a href="/services/#cybersecurity" class="dropdown-item">Cybersecurity</a></li>
                                        <li><a href="/services/#systemsanalysis" class="dropdown-item">Systems Analysis/Software Engineering</a></li>
                                        <li><a href="/services/#508" class="dropdown-item">Assistive Technologies/508</a></li>
                                        <li><a href="/services/#documentmanagement" class="dropdown-item">Document Imaging & Management</a></li>
                                        <li><a href="/services/#distancelearning" class="dropdown-item">Distance Learning</a></li>
                                        <li><a href="/services/#technicaladmin" class="dropdown-item">Technical Administration Services</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Careers</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/careers/#" class="dropdown-item">Apply</a></li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="/careers/#benefits" class="dropdown-item">Benefits</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/careers/#holidays" class="dropdown-item">Holidays</a></li>
                                        <li><a href="/careers/#holidaypay" class="dropdown-item">Holiday Pay</a></li>
                                        <li><a href="/careers/#pto" class="dropdown-item">Paid Time Off</a></li>
                                        <li><a href="/careers/#healthbenefits" class="dropdown-item">Health Insurance</a></li>
                                        <li><a href="/careers/#disability" class="dropdown-item">Short and Long Term Disability</a></li>
                                        <li><a href="/careers/#401k" class="dropdown-item">401(k) Plan</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="/services/#capabilities" class="dropdown-item">Current Employees</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/" class="dropdown-item">Timesheet</a></li>
                                        <li><a href="/" class="dropdown-item">Web Mail</a></li>
                                        <li><a href="/" class="dropdown-item">Paystub and W2</a></li>
                                        <li><a href="/" class="dropdown-item">Box</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" aria-haspopup="false" aria-expanded="false" href="/contact/#">Contact</a>
                        </li>                                                                          
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Cyber Incubator</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="blog-contained.html" class="dropdown-item">Contained</a></li>
                                <li><a href="blog-sidebar-left.html" class="dropdown-item">Left Sidebar</a></li>
                                <li><a href="blog-sidebar-right.html" class="dropdown-item">Right Sidebar</a></li>
                                <li><a href="blog-masonry.html" class="dropdown-item">Masonry</a></li>
                                <li><a href="blog-masonry-sidebar.html" class="dropdown-item">Masonry sidebar</a></li>
                                <li><a href="blog-lg-post-grid.html" class="dropdown-item">Large post grid</a></li>
                                <li><a href="blog-timeline.html" class="dropdown-item">Timeline</a></li> 
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-item">Single Post</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="post-image.html" class="dropdown-item">Image</a></li>
                                        <li><a href="post-gallery.html" class="dropdown-item">Gallery</a></li>
                                        <li><a href="post-video.html" class="dropdown-item">Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> 
                    </ul>        
                </div>
            </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>            
        </nav>
        </div>
        <div class="bg-parallax fullscreen parallax-overlay" data-jarallax-video="https://www.youtube.com/watch?v=OV_Tts-qj6w" data-jarallax-original-styles="null">
            <div class="d-flex align-items-center">
                <div class="container">
                    <div class=" row">
                        <div class="col-lg-10 ml-auto mr-auto text-center">
                            <div class="hero-text-style1">
                                <span class="milvets-star">&#9733;</span>
                                <hr class="milvets-line" style="margin-top: 0px; margin-bottom: 0.3rem">                                
                                <hr class="milvets-line" style="margin-top: 0px; margin-bottom: 1.5rem">
                                <h4 class="text-uppercase text-white-gray h6">Timely production of quality work</h4>
                                <h2 class="text-white text-capitalize font700 display-4">MILVETS</h2>
                                <p class="lead text-white-gray">
                                    Systems Technology Inc.
                                </p>
                                <hr class="milvets-line" style="margin-top: 0px; margin-bottom: 0.3rem">                                
                                <hr class="milvets-line" style="margin-top: 0px; margin-bottom: 1.5rem">                                
                                <a href="/about" class="btn btn-lg btn-white milvets-hover">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero-->        
        <div class="container pt90 pb50">
            <h1 class="subheader">What We Do</h1>
            <div class="row">
                <div class="col-lg-4 mb40 text-center">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-primary icon-gears icon-hover-default"></i>
                        <h4>Test Management</h4>
                        <p>
                            Manage your computer software and systems testing.
                        </p>
                    </div>
                </div><!--/col-->
                <div class="col-lg-4 mb40">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-dark icon-puzzle icon-hover-default"></i>
                        <h4>Modeling/Simulation & Training</h4>
                        <p>
                            Provide superior instruction and simulations for exercise training support.
                        </p>
                    </div>
                </div><!--/col-->
                <div class="col-lg-4 mb40">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-primary icon-magnifying-glass icon-hover-default"></i>
                        <h4>Intel, Surveillance & Reconnaissance</h4>
                        <p>
                            Analyze threats and support United States intelligence operations.
                        </p>
                    </div>
                </div><!--/col-->
            </div>
            <div class="row">
                <div class="col-lg-4 mb40 text-center">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-dark icon-shield icon-hover-default"></i>
                        <h4>Cybersecurity</h4>
                        <p>
                            Defend computer networks and systems from attackers.
                        </p>
                    </div>
                </div><!--/col-->
                <div class="col-lg-4 mb40">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-primary icon-layers icon-hover-default"></i>
                        <h4>Systems Analysis/Software Engineering</h4>
                        <p>
                            Develop the tools and systems for the management and execution of your business enterprise.
                        </p>
                    </div>
                </div><!--/col-->
                <div class="col-lg-4 mb40">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-dark icon-chat icon-hover-default"></i>
                        <h4>Assistive Technologies/508</h4>
                        <p>
                            Ensure your information technology systems are accesssible to people with disabilities.
                        </p>
                    </div>
                </div><!--/col-->
                <div class="col-lg-4 mb40">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-primary icon-documents icon-hover-default"></i>
                        <h4>Document Imaging & Management</h4>
                        <p>
                            Process, digitize, archive, and manage your physical documents.
                        </p>
                    </div>
                </div><!--/col-->
                <div class="col-lg-4 mb40">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-dark icon-pencil icon-hover-default"></i>
                        <h4>Distance Learning</h4>
                        <p>
                            Provide education and training solutions that are accessible from anywhere in the world.
                        </p>
                    </div>
                </div><!--/col-->
                <div class="col-lg-4 mb40">
                    <div class="icon-box icon-box-center">
                        <i class="icon-hover-1 bg-primary icon-clipboard icon-hover-default"></i>
                        <h4>Technical Admin Services</h4>
                        <p>
                            Execute your day-to-day information technology operations with our highly trained staff.
                        </p>
                    </div>
                </div><!--/col-->                                                
            </div>
        </div>
        <div class="half-image-content bg-dark">
            <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url({% static 'images/img-half1.jpg' %}  ) no-repeat;">
            </div>
            <img src={% static 'images/img-half1.jpg' %} class="visible-lg-down hidden-lg-up img-fluid" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5  pt70 pb70">
                        <h2 class="mb40 text-white">
                            Continuing Our Legacy
                        </h2>
                        <div class="clearfix text-white-gray">              
                                {{ page.about|richtext }}
                            <br>
                            <a href="/about" class="btn btn-white milvets-hover">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--half image section-->    
        <div class="container pt90  pb60">
            <div class="row align-items-center">
                <div class="col-lg-6 mb30">
                    <img src={% static 'images/sketch1.png' %} alt="" class="img-fluid" style="width:70%">
                </div>
                <div class="col-lg-6 mb30">
                    <h2> 
                        Our Teaming Partners
                    </h2>

                    <p>
                        {{ page.partnersblurb|richtext }}
                    </p>

                    <p>
                        <div class="teaming-columns">
                            <ul>
                                {{ page.partnerslist|richtext }}
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>        
        <footer class="footer footer-standard pt50 pb10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb40">
                        <h3>MILVETS Systems Technology, Inc.</h3>
                        <p>Founded & Incorporated in 1986.<br>
                        Service-Disabled Veteran Owned Small Business<br>
                        Small Disadvantaged Business<br>
                        DUNS Number: 153887773<br>
                        CAGE Code: 0NCB3</p>
                        <a href="/about" class="btn btn-white-outline btn-sm">Learn More</a>
                    </div>
                    <div class="col-lg-2 col-md-6 mb40">
                        <h3>Quick links</h3>
                        <ul class="list-unstyled footer-list-item">
                            <li>
                                <a href="#">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    News
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FAQS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Term & conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy & policy
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb40">
                        <h3>Latest News</h3>
                        <ul class="list-unstyled latest-news">
                            <li class="media">
                                <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src={% static 'images/img1.jpg' %} alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href="#">Beautiful Sofa lamp at low price</a></h5>
                                    April 05, 2017
                                </div>
                            </li>
                            <li class="media my-3">
                                <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src={% static 'images/img2.jpg' %} alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                    Jan 05, 2017
                                </div>
                            </li>
                            <li class="media">
                                <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src={% static 'images/img5.jpg' %} alt="Generic placeholder image"></a>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a href="#">New awesome features of bootstrap 4</a></h5>
                                    March 15, 2017
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb40">
                        <h3>Offices</h3>
                        <img src={% static 'images/map-img.png' %} alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </footer><!--/footer-->
        <div class="footer-bottomAlt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="clearfix">
                            <a href="https://www.facebook.com/MILVETS1/" class="social-icon-sm si-dark si-facebook si-dark-round">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com/MILVETS1" class="social-icon-sm si-dark si-twitter si-dark-round">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/milvets-systems-technology-inc." class="social-icon-sm si-dark si-linkedin si-dark-round">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>  
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <span>&copy; Copyright 2018. All Right Reserved</span>
                    </div>
                </div>
            </div>
        </div><!--/footer bottom-->

        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>     
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src={% static 'js/plugins/plugins.js' %}></script> 
        <script src={% static 'js/assan.custom.js' %}></script> 
        <!-- load cubeportfolio -->
        <script type="text/javascript" src={% static 'cubeportfolio/js/jquery.cubeportfolio.min.js' %}></script>
        <script>
            //projects
            (function ($, window, document, undefined) {
                'use strict';

                // init cubeportfolio
                $('#js-grid-lightbox-gallery').cubeportfolio({
                    filters: '#js-filters-lightbox-gallery1, #js-filters-lightbox-gallery2',
                    layoutMode: 'grid',
                    mediaQueries: [{
                            width: 1500,
                            cols: 4
                        }, {
                            width: 1100,
                            cols: 3
                        }, {
                            width: 800,
                            cols: 3
                        }, {
                            width: 480,
                            cols: 2,
                            options: {
                                caption: ''
                            }
                        }],
                    defaultFilter: '*',
                    animationType: 'flipOutDelay',
                    gapHorizontal: 15,
                    gapVertical: 15,
                    gridAdjustment: 'responsive',
                    caption: 'overlayBottomAlong',
                    displayType: 'sequentially',
                    displayTypeSpeed: 100,
                    // lightbox
                    lightboxDelegate: '.cbp-lightbox',
                    lightboxGallery: true,
                    lightboxTitleSrc: 'data-title',
                    lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>'
                });
            })(jQuery, window, document);
        </script>    
    </body>
</html>
